``` sql
show variables like "secure_file_priv";  
show variables like "local_infile";
set global local_infile = 1;
SET @@global.sql_mode= '';


DROP TABLE IF EXISTS `amazon`;
CREATE TABLE IF NOT EXISTS `amazon` (
  `show_id` text,
  `type` text,
  `title` text,
  `director` text,
  `cast` text,
  `country` text,
  `date_added` text,
  `release_year` int DEFAULT NULL,
  `rating` text,
  `duration` text,
  `listed_in` text,
  `description` text
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_spanish_ci;
LOAD DATA INFILE "C:\\ProgramData\\MySQL\\MySQL Server 8.0\\Uploads\\MLOpsReviews\\amazon_prime_titles.csv"
INTO TABLE `amazon` 
FIELDS TERMINATED BY ',' ENCLOSED BY '"' ESCAPED BY '' 
LINES TERMINATED BY '\r\n' IGNORE 1 LINES;

DROP TABLE IF EXISTS `disney`;
CREATE TABLE IF NOT EXISTS `disney` (
  `show_id` text,
  `type` text,
  `title` text,
  `director` text,
  `cast` text,
  `country` text,
  `date_added` text,
  `release_year` int DEFAULT NULL,
  `rating` text,
  `duration` text,
  `listed_in` text,
  `description` text
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_spanish_ci;
LOAD DATA INFILE "C:\\ProgramData\\MySQL\\MySQL Server 8.0\\Uploads\\MLOpsReviews\\disney_plus_titles.csv"
INTO TABLE `disney` 
FIELDS TERMINATED BY ',' ENCLOSED BY '"' ESCAPED BY '' 
LINES TERMINATED BY '\r\n' IGNORE 1 LINES;


DROP TABLE IF EXISTS `hulu_s`;
CREATE TABLE IF NOT EXISTS `hulu_s` (
  `show_id` text,
  `type` text,
  `title` text,
  `director` text,
  `cast` text,
  `country` text,
  `date_added` text,
  `release_year` int DEFAULT NULL,
  `rating` text,
  `duration` text,
  `listed_in` text,
  `description` text
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_spanish_ci;
LOAD DATA INFILE "C:\\ProgramData\\MySQL\\MySQL Server 8.0\\Uploads\\MLOpsReviews\\hulu_titles.csv"
INTO TABLE `hulu_s` 
FIELDS TERMINATED BY ',' ENCLOSED BY '"' ESCAPED BY '' 
LINES TERMINATED BY '\r\n' IGNORE 1 LINES;


DROP TABLE IF EXISTS `netflix_s`;
CREATE TABLE IF NOT EXISTS `netflix_s` (
  `show_id` text,
  `type` text,
  `title` text,
  `director` text,
  `cast` text,
  `country` text,
  `date_added` text,
  `release_year` int DEFAULT NULL,
  `rating` text,
  `duration` text,
  `listed_in` text,
  `description` text
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_spanish_ci;
LOAD DATA INFILE "C:\\ProgramData\\MySQL\\MySQL Server 8.0\\Uploads\\MLOpsReviews\\netflix_titles.csv"
INTO TABLE `netflix_s` 
FIELDS TERMINATED BY ',' ENCLOSED BY '"' ESCAPED BY '' 
LINES TERMINATED BY '\r\n' IGNORE 1 LINES;

```

para modificar 

SELECT * FROM pi_ml_ops.amazon
where show_id = 's9225';   -- modificar

SELECT * FROM pi_ml_ops.hulu
where show_id = 's2012';   -- modificar director

SELECT * FROM pi_ml_ops.hulu
where show_id = 's2076'; -- modificar director

SELECT * FROM pi_ml_ops.hulu
where show_id = 's2265';  -- modificar director


hulu tiene datos vacios en duration, titile tiene datos raros

netflix datos raros en title