``` sql
show variables like "secure_file_priv";  
show variables like "local_infile";
set global local_infile = 1;
SET @@global.sql_mode= '';


DROP TABLE IF EXISTS `amazon`;
CREATE TABLE IF NOT EXISTS `amazon` (
  `show_id` text,
  `type` text,
  `title` text,
  `director` text,
  `cast` text,
  `country` text,
  `date_added` text,
  `release_year` int DEFAULT NULL,
  `rating` text,
  `duration` text,
  `listed_in` text,
  `description` text
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_spanish_ci;
LOAD DATA INFILE "C:\\ProgramData\\MySQL\\MySQL Server 8.0\\Uploads\\MLOpsReviews\\amazon_prime_titles.csv"
INTO TABLE `amazon` 
FIELDS TERMINATED BY ',' ENCLOSED BY '"' ESCAPED BY '' 
LINES TERMINATED BY '\r\n' IGNORE 1 LINES;

DROP TABLE IF EXISTS `disney`;
CREATE TABLE IF NOT EXISTS `disney` (
  `show_id` text,
  `type` text,
  `title` text,
  `director` text,
  `cast` text,
  `country` text,
  `date_added` text,
  `release_year` int DEFAULT NULL,
  `rating` text,
  `duration` text,
  `listed_in` text,
  `description` text
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_spanish_ci;
LOAD DATA INFILE "C:\\ProgramData\\MySQL\\MySQL Server 8.0\\Uploads\\MLOpsReviews\\disney_plus_titles.csv"
INTO TABLE `disney` 
FIELDS TERMINATED BY ',' ENCLOSED BY '"' ESCAPED BY '' 
LINES TERMINATED BY '\r\n' IGNORE 1 LINES;


DROP TABLE IF EXISTS `hulu_s`;
CREATE TABLE IF NOT EXISTS `hulu_s` (
  `show_id` text,
  `type` text,
  `title` text,
  `director` text,
  `cast` text,
  `country` text,
  `date_added` text,
  `release_year` int DEFAULT NULL,
  `rating` text,
  `duration` text,
  `listed_in` text,
  `description` text
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_spanish_ci;
LOAD DATA INFILE "C:\\ProgramData\\MySQL\\MySQL Server 8.0\\Uploads\\MLOpsReviews\\hulu_titles.csv"
INTO TABLE `hulu_s` 
FIELDS TERMINATED BY ',' ENCLOSED BY '"' ESCAPED BY '' 
LINES TERMINATED BY '\r\n' IGNORE 1 LINES;


DROP TABLE IF EXISTS `netflix_s`;
CREATE TABLE IF NOT EXISTS `netflix_s` (
  `show_id` text,
  `type` text,
  `title` text,
  `director` text,
  `cast` text,
  `country` text,
  `date_added` text,
  `release_year` int DEFAULT NULL,
  `rating` text,
  `duration` text,
  `listed_in` text,
  `description` text
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_spanish_ci;
LOAD DATA INFILE "C:\\ProgramData\\MySQL\\MySQL Server 8.0\\Uploads\\MLOpsReviews\\netflix_titles.csv"
INTO TABLE `netflix_s` 
FIELDS TERMINATED BY ',' ENCLOSED BY '"' ESCAPED BY '' 
LINES TERMINATED BY '\r\n' IGNORE 1 LINES;

```

para modificar 

SELECT * FROM pi_ml_ops.amazon
where show_id = 's9225';   -- modificar

SELECT * FROM pi_ml_ops.hulu
where show_id = 's2012';   -- modificar director

SELECT * FROM pi_ml_ops.hulu
where show_id = 's2076'; -- modificar director

SELECT * FROM pi_ml_ops.hulu
where show_id = 's2265';  -- modificar director


hulu tiene datos vacios en duration, titile tiene datos raros

netflix datos raros en title

In [120]:
import pymysql.cursors
connection = pymysql.connect(
    host='localhost',
    user='root',
    password='',
    db='pi_ml_ops',
    cursorclass=pymysql.cursors.DictCursor
)

with connection.cursor() as cursor:
        cursor.execute("select * from plataforma")
        Total_movies = cursor.fetchall()

In [122]:
import pandas as pd

df = pd.DataFrame(Total_movies)

df.head()

,id,plataform,type,title,director,cast,country,date_added,release_year,rating,duration,duration_int,duration_type,listed_in,description
0,as1,amazon,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,2021-03-30,2014,g,113 min,113.0,min,"comedy, drama",a small fishing village must procure a local d...
1,as2,amazon,movie,take care good night,girish joshi,"mahesh manjrekar, abhay mahajan, sachin khedekar",india,2021-03-30,2018,13+,110 min,110.0,min,"drama, international",a metro family decides to fight a cyber crimin...
2,as3,amazon,movie,secrets of deception,josh webber,"tom sizemore, lorenzo lamas, robert lasardo, r...",united states,2021-03-30,2017,g,74 min,74.0,min,"action, drama, suspense",after a man discovers his wife is cheating on ...
3,as4,amazon,movie,pink: staying true,sonia anderson,"interviews with: pink, adele, beyoncé, britney...",united states,2021-03-30,2014,g,69 min,69.0,min,documentary,"pink breaks the mold once again, bringing her ..."
4,as5,amazon,movie,monster maker,giles foster,"harry dean stanton, kieran o'brien, george cos...",united kingdom,2021-03-30,1989,g,45 min,45.0,min,"drama, fantasy",teenage matt banting wants to work with a famo...

In [86]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22998 entries, 0 to 22997
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             22998 non-null  object
 1   plataform      22998 non-null  object
 2   type           22998 non-null  object
 3   title          22998 non-null  object
 4   director       22998 non-null  object
 5   cast           22998 non-null  object
 6   country        22998 non-null  object
 7   date_added     22998 non-null  object
 8   release_year   22998 non-null  int64
 9   rating         22998 non-null  object
 10  duration       22998 non-null  object
 11  duration_int   22811 non-null  float64
 12  duration_type  22811 non-null  object
 13  listed_in      22998 non-null  object
 14  description    22998 non-null  object
dtypes: float64(1), int64(1), object(13)
memory usage: 2.6+ MB

In [115]:
def get_actor(platform,year):
    actores, repeticiones = list(), list()  

    Cast_list = list(df[(df.plataform == platform) & (df.release_year == year)].cast.fillna('Sin_dato'))
    for each in Cast_list:  
        if not(each == 'Sin_dato'):    
            lista = each.split(",")
            for elem in lista: 
                elem = elem.strip()
                if elem in actores: 
                    repeticiones[actores.index(elem)] += 1
                else:    
                    actores.append(elem)
                    repeticiones.append(1)
    if actores == []: return f'Sin datos del año {year}' 
    return print(f'El actor que más se repite en la plataforma {platform}, en el año {year}, es {actores[repeticiones.index(max(repeticiones))].title()}, con un total de {max(repeticiones)} repeticiones')

In [119]:
get_actor('amazon',2017)

El actor que más se repite en la plataforma amazon, en el año 2017, es Maggie Binkley, con un total de 16 repeticiones

In [1]:
import pandas as pd

df = pd.read_csv('datasets\plataformas.csv', delimiter=';')

In [2]:
df.head(1)

,id,plataform,type,title,director,cast,country,date_added,release_year,rating,duration,duration_int,duration_type,listed_in,description
0,as1,amazon,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,2021-03-30,2014,g,113 min,113,min,"comedy, drama",a small fishing village must procure a local d...

In [12]:
from pandasql import sqldf

query = "SELECT COUNT(title) FROM df WHERE plataform = 'amazon'"
result = sqldf(query)

result['COUNT(title)']

0    9668
Name: COUNT(title), dtype: int64

In [18]:
query = '''SELECT * FROM df where release_year=(2010) and plataform=('netflix') and duration_type=('min') 
                        order by duration_int desc limit 1'''
Max_duration = sqldf(query)
Max_duration.title.title()

AttributeError: 'Series' object has no attribute 'title'

In [11]:
max_duration = df[(df.plataform == 'netflix') & (df.release_year == 2010) & ((df.duration_type == 'min') )]
# Verificacion de año
# Retornamos el valor del título
id_max = max_duration.duration_int.idxmax()
print((max_duration.loc[id_max].duration))

186 min

In [15]:
df_score = pd.read_csv('Datasets/score_users.csv')

In [16]:
df_score.head()

       id     score
0     as1  89.20319
1    as10  89.53216
2   as100  89.25581
3  as1000  89.50515
4  as1001  89.82942

In [18]:
df_add_score = pd.merge(df, df_score, how='inner', on = 'id')

In [27]:
score_count = df_add_score[(df_add_score.plataform == 'netflix') & (df_add_score.release_year == 2010) & ((df_add_score.score > 89) )]
type(score_count.id.count())

numpy.int64

In [5]:
import pandas as pd

df = pd.read_csv('C:/Users/duque/Downloads/score_movies.csv')

In [6]:
df.shape

(11013823, 4)

Cargo los csv necesarios y los unifico

In [7]:
df_rating_1 = pd.read_csv('./MLOpsReviews/ratings/1.csv')
df_rating_2 = pd.read_csv('./MLOpsReviews/ratings/2.csv')
df_rating_3 = pd.read_csv('./MLOpsReviews/ratings/3.csv')
df_rating_4 = pd.read_csv('./MLOpsReviews/ratings/4.csv')
df_rating_5 = pd.read_csv('./MLOpsReviews/ratings/5.csv')
df_rating_6 = pd.read_csv('./MLOpsReviews/ratings/6.csv')
df_rating_7 = pd.read_csv('./MLOpsReviews/ratings/7.csv')
df_rating_8 = pd.read_csv('./MLOpsReviews/ratings/8.csv')

In [8]:
df_rating = pd.concat([df_rating_1, df_rating_2, df_rating_3, df_rating_4, df_rating_5, df_rating_6, df_rating_7, df_rating_8])

In [9]:
df_rating.shape

(11024289, 4)

In [10]:
df_rating.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11024289 entries, 0 to 1499999
Data columns (total 4 columns):
 #   Column     Dtype
---  ------     -----
 0   userId     int64
 1   rating     float64
 2   timestamp  int64
 3   movieId    object
dtypes: float64(1), int64(2), object(1)
memory usage: 420.5+ MB

In [11]:
df_rating['timestamp'] = pd.to_datetime(df_rating['timestamp'], unit='s').dt.strftime('%B %d, %Y')

In [12]:
df_rating['timestamp'] = pd.to_datetime(df_rating['timestamp'])

In [19]:
df_rating.head()

   userId  rating  timestamp movieId
0       1     1.0 2015-03-09   as680
1       1     4.5 2015-03-09  ns2186
2       1     5.0 2015-03-09  hs2381
3       1     5.0 2015-03-09  ns3663
4       1     5.0 2015-03-09  as9500

In [20]:
df_rating.shape

(11024289, 4)

In [21]:
df_rating.to_csv('score_movies.csv', index=False)

In [22]:
df_score_prom = df_rating.groupby('movieId')['rating'].mean()
df_score_prom.to_csv('score_prom_movies.csv')

In [23]:
df_score_prom.head()

movieId
as1       3.467131
as10      3.439571
as100     3.609302
as1000    3.556701
as1001    3.585288
Name: rating, dtype: float64